<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ap.client</title>
    <link rel="stylesheet" href="~/fontawesome-free-6.6.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/ap-1.0.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ap-grid-1.0.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ap-table-1.0.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ap-search-grid-1.0.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ap-notify-1.0.0.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ap-busybox-1.0.0.css" asp-append-version="true" />
</head>
<body>
    <div id="page-master" class="container">
        <div class="card">
            <div class="card-header">
                <div id="page-title" class="card-title">
                    Options
                </div>
                <div id="page-button" class="card-buttons">
                    <button type="button" class="btn btn-size-m bg-darkseagreen" onclick="PageGoHome('page-index', this)" title="Home Page"><i class="fas fa-home"></i></button>
                    <button type="button" class="btn btn-size-m bg-darkseagreen" id="master-user" title="User"><i class="fas fa-user"></i></button>
                    <button type="button" class="btn btn-size-m bg-darkseagreen" id="master-notifications" title="Notifications"><i class="fas fa-bell"></i></button>
                    <button type="button" class="btn btn-size-m" id="master-api-signal-status" title="API Connections"></button>
                </div>
            </div>
            @RenderBody()
            <div class="card-footer">
                <span id="master-date-time"></span>
            </div>
        </div>
    </div>
    <!--order should be remine same-->
    <script src="~/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/js/ap-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-state-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-interface-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-table-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-search-grid-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-notify-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-busybox-1.0.0.js" asp-append-version="true"></script>
    <script src="~/js/ap-ajax-1.0.0.js" asp-append-version="true"></script>
    <script src="~/Scripts/Script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>