@{
    ViewData["Title"] = "Home Page";
}
<div class="card-body">
    <div class="row g-6">
        <button type="button" class="app-button" onclick="PageGoNext('interface-business', '')"><i class="fas fa-list"></i> Business</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-branch', '')"><i class="fas fa-list"></i> Branch</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-category', '')"><i class="fas fa-list"></i> Category</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-unit', '')"><i class="fas fa-list"></i> Unit</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-brand', '')"><i class="fas fa-list"></i> Brand</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-products', '')"><i class="fas fa-list"></i> Products</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-contacts', '')"><i class="fas fa-list"></i> Contacts</button>
        <button type="button" class="app-button" onclick="PageGoNext('interface-purchase', '')"><i class="fas fa-list"></i> Purchase</button>
        <button type="button" class="app-button" onclick="PageGoNext('page-input', '')"><i class="fas fa-list"></i> Inputs</button>
        <button type="button" class="app-button" onclick="PageGoNext('page-table', '')"><i class="fas fa-list"></i> Tables</button>
        <button type="button" class="app-button" onclick="PageGoNext('page-modal', '')"><i class="fas fa-list"></i> Modals</button>
        <button type="button" class="app-button" onclick="PageGoNext('page-busybox', '')"><i class="fas fa-list"></i> Busybox</button>
        <button type="button" class="app-button" onclick="PageGoNext('page-tab', '')"><i class="fas fa-list"></i> Tab</button>
        <button type="button" class="app-button"><i class="fas fa-cogs"></i> Settings</button>
        <button type="button" class="app-button"><i class="fas fa-user"></i> Profile</button>
        <button type="button" class="app-button"><i class="fas fa-power-off"></i> Logout</button>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Index.js" asp-append-version="true"></script>
}