/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: antiquewhite;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

/* Card Styles */
.card {
    background-color: rgba(76, 175, 80, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* Card Header Styling */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgba(44, 110, 47, 0.9);
    color: white;
}

/* Card Title Styling */
.card-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Card Button Container */
.card-buttons {
    display: flex;
    gap: 10px;
}

/* Card Body Styles */
.card-body {
    padding: 4px;
    border-top: 2px solid rgba(44, 110, 47, 0.2);
}
/* Card Footer Styles */
.card-footer {
    padding: 5px 10px;
    background-color: rgba(44, 110, 47, 0.8);
    border-top: 2px solid rgba(44, 110, 47, 1);
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}


.app-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 3px;
    background-color: rgba(44, 110, 47, 0.9);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

    .app-button:hover {
        background-color: rgba(76, 175, 80, 0.7);
    }

    .app-button i {
        font-size: 2em;
        margin-bottom: 5px;
    }

    .app-button span {
        font-size: 0.8em;
    }


/* Base Button Styles */
.btn {
    font-family: 'Segoe UI', sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: all 0.5s ease;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    gap: 8px;
    color: white;
}

/* bg colors */
/*green color*/
.bg-green {
    background-color: rgba(44, 110, 47, 1);
}

.bg-light-green {
    background-color: #4CAF50;
}

/*red color*/
.bg-crimson {
    background-color: crimson; /* Danger red */
}

.bg-red {
    background-color: red; /* Danger red */
}

/*yellow*/
.bg-yellow {
    background-color: rgba(255, 193, 7, 1); /* Warning yellow */
}

/*white gray*/
.bg-dimgrey {
    background-color: dimgrey; /* Default gray */
}

.bg-darkgray {
    background-color: darkgray; /* Secondary blue */
}

/*blue*/
.bg-blue {
    background-color: rgba(33, 150, 243, 1); /* Primary blue */
}

.bg-blueviolet {
    background-color: blueviolet; /* Secondary blue */
}

.bg-darkseagreen {
    background-color: darkseagreen; /* Secondary blue */
}

/* text colors */
/*green color*/
.text-green {
    color: rgba(44, 110, 47, 1);
}

.text-light-green {
    color: #4CAF50;
}

/*red color*/
.text-crimson {
    color: crimson; /* Danger red */
}
.text-red {
    color: red; /* Danger red */
}

/*yellow*/
.text-yellow {
    color: rgba(255, 193, 7, 1); /* Warning yellow */
}

/*white gray*/
.text-dimgrey {
    color: dimgrey; /* Default gray */
}

.text-darkgray {
    color: darkgray; /* Secondary blue */
}

/*blue*/
.text-blue {
    color: rgba(33, 150, 243, 1); /* Primary blue */
}

.text-blueviolet {
    color: blueviolet; /* Secondary blue */
}

.text-darkseagreen {
    color: darkseagreen; /* Secondary blue */
}

.text-white {
    color: white;
}



.btn-disabled {
    background-color: #333; /* Disabled gray */
    color: #9e9e9e; /* Lighter text */
    cursor: not-allowed;
}


.btn-size-default {
    font-size: 0.9em;
    padding: 9px 15px;
}
/* Small Button Size */
.btn-size-sm {
    padding: 5px 8px;
    font-size: 0.7em;
}

/* Medium Button Size */
.btn-size-m {
    padding: 6px 13px;
    font-size: 1em;
}

/* Extra Large Button Size */
.btn-size-xl {
    padding: 8px 15px;
    font-size: 1em;
}

/* Hover Effects */
button:hover:not(.btn-disabled) {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Deeper shadow */
    filter: brightness(1.1); /* Slightly brighter on hover */
}

/* Transparent Variant */
button.transparent {
    background-color: transparent;
    border: 1px solid currentColor; /* Match border color to text */
    box-shadow: none; /* No shadow for transparent */
}

    button.transparent:hover:not(.btn-disabled) {
        background-color: rgba(255, 255, 255, 0.1); /* Light overlay on hover */
    }

/* Icon Styling */
button i {
    font-size: 1.2em; /* Slightly larger icon */
}



/**** form group element styles ****/
.form-group {
    margin: 3px;
}

/**** input element styles ****/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
select {
    font-family: 'Segoe UI', sans-serif;
    padding: 4px;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    transition: all 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}
    /* Hover State */
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover,
    input[type="number"]:hover,
    input[type="date"]:hover,
    input[type="datetime-local"]:hover,
    input[type="checkbox"]:hover,
    select:hover {
        border-color: #2196F3;
    }

    /* Focus State */
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    input[type="datetime-local"]:focus,
    input[type="checkbox"]:focus,
    select:focus {
        outline: none;
        border-color: rgba(44, 110, 47, 0.9);
        box-shadow: 0 0 5px rgba(33, 150, 243, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    /* readonly, disabled State */
    input[disabled],
    input[readonly],
    select:disabled {
        background-color: lightgrey;
        color: #999;
        cursor: not-allowed;
        border-color: #ddd;
    }

input[type="checkbox"] {
    accent-color: #71435F;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    border-radius: 3px;
}

    input[type="checkbox"]:not(:checked) {
        border: 5px solid #fff;
        outline: none
    }


select {
    padding: 3px;
    width: 100%;
}

    select:focus option:checked {
        color: #fff;
        background-color: #A05B86;
        box-shadow: 0 .5px .5px #0003
    }

/**** file upload element styles ****/
input[type="file"] {
    display: none;
}

    input[type="file"] + label {
        font-family: 'Segoe UI', sans-serif;
        display: inline-block;
        padding: 4px;
        font-size: 12px;
        margin-top: 5px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        background-color: #fff;
        text-align: left;
        cursor: pointer;
        transition: all 0.5s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }

        input[type="file"] + label:hover {
            border-color: #2196F3;
        }

    input[type="file"]:focus + label {
        outline: none;
        border-color: rgba(44, 110, 47, 0.9);
        box-shadow: 0 0 5px rgba(33, 150, 243, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2);
    }



/**** text area element styles ****/
textarea {
    padding: 3px;
    font-family: Segoe UI;
    font-size: 11px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: border-color .3s ease;
    resize: vertical;
    box-shadow: 0 .5px .5px #0003
}

    textarea:focus {
        outline: none;
        border-color: rgba(44, 110, 47, 0.9);
        box-shadow: 0 0 5px rgba(33, 150, 243, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2);
    }

/**** radio element styles ****/
.radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

    .radio-container input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border: 1px solid #ccc;
        border-radius: 50%;
        outline: none;
        position: relative
    }

        .radio-container input[type="radio"]:checked {
            border-color: #71435F;
        }

            .radio-container input[type="radio"]:checked::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 7px;
                height: 7px;
                background-color: #71435F;
                border-radius: 50%;
                transform: translate(-50%,-50%);
            }

.radio-text {
    font-size: 10px;
    color: #333;
}


input.input-error,
select.input-error,
textarea.input-error {
    border: 1px dashed red;
}


label {
    font-family: Segoe UI;
    font-size: 12px;
}

/*Other content*/


.w-100 {
    width: 100%
}

.d-none {
    display: none
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
    justify-content: center;
}



/* Modal Styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Hidden by default, will be shown with JavaScript */
}

/* Modal Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(44, 110, 47, 0.9);
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.modal-title {
    font-size: 1.2em;
    font-weight: bold;
}

/* Modal Body */
.modal-body {
    padding: 15px;
    font-size: 1em;
    color: #333;
}

/* Modal Footer */
.modal-footer {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(44, 110, 47, 0.9);
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Glass Effect */
.modal {
    backdrop-filter: blur(5px); /* Glass effect */
}

.g-1 {
    gap: 1px;
}

.g-2 {
    gap: 2px;
}

.g-3 {
    gap: 3px;
}

.g-4 {
    gap: 4px;
}

.g-5 {
    gap: 5px;
}

.g-6 {
    gap: 6px;
}

.g-7 {
    gap: 7px;
}

.g-8 {
    gap: 8px;
}

.g-9 {
    gap: 9px;
}

.g-10 {
    gap: 10px;
}

/**** margin top styles ****/
.mt-1 {
    margin-top: 1px
}

.mt-2 {
    margin-top: 2px
}

.mt-3 {
    margin-top: 3px
}

.mt-4 {
    margin-top: 4px
}

.mt-5 {
    margin-top: 5px
}

.mt-6 {
    margin-top: 6px
}

.mt-7 {
    margin-top: 7px
}

.mt-8 {
    margin-top: 8px
}

.mt-9 {
    margin-top: 9px
}

.mt-10 {
    margin-top: 10px
}


.mr-1 {
    margin-right: 1px
}

.mr-2 {
    margin-right: 2px
}

.mr-3 {
    margin-right: 3px
}

.m-5 {
    margin: 5px;
}

.pt-1 {
    padding-top: 1px
}

.pt-2 {
    padding-top: 2px
}

.pt-3 {
    padding-top: 3px
}

.pt-4 {
    padding-top: 4px
}

.pt-5 {
    padding-top: 5px
}

.pt-6 {
    padding-top: 6px
}

.pt-7 {
    padding-top: 7px
}

.pt-8 {
    padding-top: 8px
}

.pt-9 {
    padding-top: 9px
}

.pt-10 {
    padding-top: 10px
}


.pr-1 {
    padding-right: 1px
}

.pr-2 {
    padding-right: 2px
}

.pr-3 {
    padding-right: 3px
}

.pr-4 {
    padding-right: 4px
}

.pr-5 {
    padding-right: 5px
}

.pr-6 {
    padding-right: 6px
}

.pr-7 {
    padding-right: 7px
}

.pr-8 {
    padding-right: 8px
}

.pr-9 {
    padding-right: 9px
}

.pr-10 {
    padding-right: 10px
}


.pb-1 {
    padding-bottom: 1px
}

.pb-2 {
    padding-bottom: 2px
}

.pb-3 {
    padding-bottom: 3px
}

.pb-4 {
    padding-bottom: 4px
}

.pb-5 {
    padding-bottom: 5px
}

.p-5 {
    padding: 5px
}

.p-10 {
    padding: 10px
}

/**** element width styles ****/
/* Column width classes */
.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}


/* Tabs Container */
.tabs-container {
    font-family: 'Segoe UI', sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tabs Header */
.tabs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
}

.tabs-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.tab-item {
    margin-right: 10px;
    padding: 5px 15px;
    background-color: #e0e0e0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .tab-item.active {
        background-color: #4CAF50;
        color: white;
    }

    .tab-item .close-tab {
        color: #fff;
    }

.add-tab {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

    .add-tab:hover {
        background-color: #45a049;
    }

/* Tabs Content */
.tabs-content {
    padding: 15px;
    background-color: #fff;
}

.tab-body {
    display: none;

}

    .tab-body.active {
        display: block;
    }

/* Tabs Footer */
.tabs-footer {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
}
