@{
    ViewData["Title"] = "Business";
}
<div class="card-body">
    <div id="page-entry-business">
        <input type="hidden" id="Id" value="0" />
        <div class="row">
            <!-- row 1 -->
            <div class="col-md-3 col-12">
                <div class="form-group">
                    <label for="BusinessName">Business Name:</label>
                    <input type="text" id="BusinessName" placeholder="Enter Business Name" title="Enter Business Name" />
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="form-group">
                    <label for="OfficeAddress">Office Address:</label>
                    <input type="text" id="OfficeAddress" placeholder="Enter Office Address" title="Enter Office Address" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="ContactName">Contact Name:</label>
                    <input type="text" id="ContactName" placeholder="Enter Contact Name" title="Enter Contact Name" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="ContactNo">Contact No:</label>
                    <input type="text" id="ContactNo" placeholder="Enter Contact No" title="Enter Contact No" />
                </div>
            </div>
            <!-- row 2 -->
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="EmailAddress">Email Address:</label>
                    <input type="text" id="EmailAddress" placeholder="Enter Email Address" title="Enter Email Address" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="BIN">BIN:</label>
                    <input type="text" id="BIN" placeholder="Enter BIN" title="Enter BIN" />
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <div class="custom-select">
                        <label for="CurrencyId">Currency:</label>
                        <select id="CurrencyId" title="Select Currency">
                            <option value="-">Select</option>
                            <option value="BDT">BDT</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label for="StartDate">Start Date:</label>
                    <input type="date" id="StartDate" placeholder="Enter Start Date" title="Enter Start Date" />
                </div>
            </div>
            <div class="col-md-1 col-12">
                <div class="form-group">
                    <label>Active?</label>
                    <div class="mt-6">
                        <label>
                            <input type="checkbox" id="IsActive">
                        </label>
                    </div>
                </div>
            </div>
            <!-- row 3 -->
            <!-- row 4 -->
        </div>
    </div>
    <div id="page-actions" class="row-content">
        <button type="button" class="btn btn-size-sm bg-dimgrey" onclick="PageGoClear('page-entry-business',this);"><i class="fas fa-rotate"></i> Clear</button>
        <button type="button" class="btn btn-size-sm bg-blue" onclick="PageGoActionEvent('page-list-business',this);"><i class="fas fa-search"></i> Search</button>
        <button type="button" class="btn btn-size-sm bg-green" onclick="PageGoActionEvent('page-entry-business',this);"><i class="fas fa-check-circle"></i> Submit</button>
    </div>
    <div id="page-list-business" class="w-100 ap-table-responsive d-none">
        <table id="table-list-business" class="ap-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact Name</th>
                    <th>Contact No</th>
                    <th>Email</th>
                    <th>BIN</th>
                    <th>Currency</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Areas/Company/Business.js" asp-append-version="true"></script>
}
